<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Server=172.19.1.202;Database=eccm;User=interlife;Password=mypassword;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True;Pooling=false;Max Pool Size=100;port=3306" />
  </connectionStrings>
  <appSettings>
    <!--云融正通短信配置-->
    <add key="UserName" value="zhihuijia" />
    <add key="PassWord" value="bJvv/awH2+G3aLNS8BHETw==" />
    <!--MD5已加密-->
    <add key="PostUrl" value="http://101.201.238.246/MessageTransferWebAppJs/servlet/messageTransferServiceServletByXml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SignName" value="【设备远程监控平台】"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>